<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<filter>
		<!--过滤器名称 -->
		<filter-name>struts2</filter-name>
		<!--过滤器类 -->
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>



	<!--过滤器映射 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<!--配置拦截路径 “/*”表示拦截所有的请求路径 -->
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher><!--过滤dispatcher的REQUEST方式请求，默认值  -->
		<dispatcher>FORWARD</dispatcher><!--过滤dispatcher的FORWARD方式请求，默认值  -->
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>